*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: black;
}

.board {
  display: grid;
  grid-template: repeat(8, 12.5%) / repeat(8, 12.5%);
  min-height: 400px;
  min-width: 400px;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
}

.orange {
  background: #ffa500;
}

.brown {
  background: brown;
}

[data-color=black] {
  background: black;
}

[data-color=white] {
  background: white;
}

.piece {
  height: 50%;
  width: 50%;
}

[data-piece = pawn] {
  clip-path: polygon(
    37.5% 0,
    62.5% 0,
    75% 12.5%,

    75% 37.5%,
    62.5% 50%,
    75% 50%,

    75% 62.5%,
    62.5% 62.5%,
    75% 87.5%,

    100% 87.5%,
    100% 100%,
    0 100%,

    0 87.5%,
    25% 87.5%,
    37.5% 62.5%,

    25% 62.5%,
    25% 50%,
    37.5% 50%,

    25% 37.5%,
    25% 12.5%
  )
}

[data-piece = rook] {
  clip-path: polygon(
    0 0,
    20% 0,
    20% 25%,

    40% 25%,
    40% 0,
    60% 0,

    60% 25%,
    80% 25%,
    80% 0,

    100% 0,
    100% 50%,
    75% 50%,

    87.5% 87.5%,
    100% 87.5%,
    100% 100%,

    0 100%,
    0 87.5%,
    12.5% 87.5%,

    25% 50%,
    0 50%
  );
}

[data-piece = knight] {
  clip-path: polygon(
    0 37.5%,
    30% 12.5%,
    62.5% 12.5%,

    62.5% 0,
    100% 50%,
    75% 75%,

    75% 82.5%,
    100% 82.5%,
    100% 100%,

    0 100%,
    0 82.5%,
    12.5% 82.5%,

    37.5% 50%,
    0 50%
  );
}

[data-piece = bishop] {
  clip-path: polygon(
  25% 25%,
  50% 0,
  75% 25%,

  62.5% 37.5%,
  75% 37.5%,
  75% 50%,

  62.5% 50%,
  75% 82.5%,
  100% 82.5%,

  100% 100%,
  0 100%,
  0 82.5%,

  25% 82.5%,
  37.5% 50%,
  25% 50%,

  25% 37.5%,
  37.5% 37.5%
  )
}

[data-piece = queen] {
  clip-path: polygon(
  0 0,
  37.5% 50%,
  50% 0,

  62.5% 50%,
  100% 0,
  75% 82.5%,

  100% 82.5%,
  100% 100%,
  0 100%,

  0 82.5%,
  25% 82.5%
  );
}

[data-piece = king] {
  clip-path: polygon(
  37.5% 0,
  62.5% 0,
  62.5% 12.5%,
  
  75% 12.5%,
  75% 37.5%,
  62.5% 37.5%,

  62.5% 50%,
  87.5% 50%,
  87.5% 82.5%,

  100% 82.5%,
  100% 100%,
  0 100%,

  0 82.5%,
  12.5% 82.5%,
  12.5% 50%,

  37.5% 50%,
  37.5% 37.5%,
  25% 37.5%,

  25% 12.5%,
  37.5% 12.5%
  );
}

.valid {
  border: 2px solid white;
}

.active {
  border: 3px solid gold;
}

[data-label], [data-timer], [data-title] {
  position: absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  background: rgba(150,150,150,0.5);
  top:5vh;
  left:2vw;
  min-height:50px;
  min-width:100px;
  color:white;
}

[data-timer] {
  top:20vh;
}

[data-title] {
  left:50%;
  min-width:150px;
  min-height:20px;
  transform:translateX(-50%);
  border: 3px solid gold;
  padding:5px;
}

[data-promotion]{
  z-index: 2;
  visibility: hidden;
  position:absolute;
  height:125px;
  width:200px;
  background: yellow;
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
  padding-top:5px;
  gap:2px;
}

button {
  width:80%;
}
button:hover{
  color:orange;
}
[data-promotion].show{
  visibility: visible;
}

.piece:hover{
  transform:translateY(-5px)
}