*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: black;
  display:flex;
  justify-content:center;
  align-items:center;
}

.pawn {
  clip-path: polygon(37.5% 0,62.5% 0,75% 12.5%,75% 37.5%,62.5% 50%,75% 50%,75% 62.5%,62.5% 62.5%,75% 87.5%,100% 87.5%,100% 100%,0 100%,0 87.5%,25% 87.5%,37.5% 62.5%,25% 62.5%,25% 50%,37.5% 50%,25% 37.5%,25% 12.5%)
}

.rook {
  clip-path: polygon(0 0,20% 0,20% 25%,40% 25%,40% 0,60% 0,60% 25%,80% 25%,80% 0,100% 0,100% 50%,75% 50%,87.5% 87.5%,100% 87.5%,100% 100%,0 100%,0 87.5%,12.5% 87.5%,25% 50%,0 50%);
}

.knight {
  clip-path: polygon(0 37.5%,30% 12.5%,62.5% 12.5%,62.5% 0,100% 50%,75% 75%,75% 82.5%,100% 82.5%,100% 100%,0 100%,0 82.5%,12.5% 82.5%,37.5% 50%,0 50%);
}

.bishop {
  clip-path: polygon(25% 25%,50% 0,75% 25%,62.5% 37.5%,75% 37.5%,75% 50%,62.5% 50%,75% 82.5%,100% 82.5%,100% 100%,0 100%,0 82.5%,25% 82.5%,37.5% 50%,25% 50%,25% 37.5%,
  37.5% 37.5%)
}

.queen {
  clip-path: polygon(0 0,37.5% 50%,50% 0,62.5% 50%,100% 0,75% 82.5%,100% 82.5%,100% 100%,0 100%,0 82.5%,25% 82.5%);
}

.king {
  clip-path: polygon(37.5% 0,62.5% 0,62.5% 12.5%,75% 12.5%,75% 37.5%,62.5% 37.5%,62.5% 50%,87.5% 50%,87.5% 82.5%,100% 82.5%,100% 100%,0 100%,0 82.5%,12.5% 82.5%,12.5% 50%,37.5% 50%,37.5% 37.5%,25% 37.5%,25% 12.5%,37.5% 12.5%);
}

#board {
  aspect-ratio: 1/1;
  min-height:50vh;
  border:1px solid var(--color);
  display:grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

.space {
  display:flex;
  justify-content:center;
  align-items:center;
}

.orange {
  background: hsl(39, var(--sat, 30%), 50%);
}

.tan {
  background: hsl(34, var(--sat, 44%), 69%)
}

.active {
  --sat:100%;
}

.piece {
  aspect-ratio:1/1;
  width:80%;
}

.black {
  background: black;
}

.white {
  background: white;
}

.selected {
  border: 0.2em solid white;
}

#pawn-promo{
  aspect-ratio: 2/1;
  min-height:20vh;
  border:0.2rem solid white;
  position:absolute;
  display:grid;
  grid-template-rows: 1fr 0.5fr 3fr;
  font-weight: bolder;
  color:wheat;
}

.title,.subtitle {
  border:0.1rem solid white;
  text-align: center;
  font-size:1.2rem;
}

.title {
  padding-top: 0.4rem;
}

.subtitle {
  font-size: 1rem;
}

#pawn-promo {
  background: hsla(0, 0%, 50%, 0.7);
}

#overlay {
  position:absolute;
  height:100%;
  width:100%;
  background: hsla(51, 100%, 40%, 0.3);
}

.hide {
  visibility: hidden;
}

.promo-selection {
  border:0.1rem solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.promo-choice {
  aspect-ratio: 1/1;
  width:4rem;
  border: 0.1rem solid gold;
  display:flex;
  justify-content:center;
  align-items:center;
}

.promo-choice > div {
  background: orange;
  aspect-ratio: 1/1;
  width:80%;
}

.promo-choice:hover{
  transform: translateY(-0.4rem);
  background-color: aqua;
  cursor: pointer;
}

